body{
	background-color: white;
	font-family: Century Gothic;
	margin: 0 auto;
}


#wrapper{
background-color: white;
width: 1000px;
height: 1500px ;
margin: 0 auto;
}


#header{
background-color: white;
background-image: url("https://github.com/arnaudverpoucke/arnaudverpoucke.github.io/blob/master/logo_digitalentertainment.JPG?raw=true");
background-size: 420px 60px;
background-repeat: no-repeat;
height: 60px;
border-top: 1px solid white;
}


#tabmenu{
	font-size: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tabmenu ul{
	list-style: none;
	display: flex;
	margin-left:440px;
	margin-bottom: 20px;
}


.dunnerand1{
	border:2px solid black;
}


.dikkerand{
	border: 8px solid black;
}

#sectie1{
background-color: yellow;
width: 1000px;
height: 200px ;
margin: 0px;
padding-top: 1px;
}

#sectie1 h1{
padding-top: 1px;
}

#fotosectie1{
background-color: white;
margin: 0px;
padding-top: 0px;
height: 300px;
}


#navigatiebalk nav{
margin-top: 20px;
width: 240px;
height: 800px;
background-color: #2E3233;
}

#navigatiebalk h2{
	color: white;
	margin-left: 30px;
}


#mainpicture{

}



.kaderklein1{
	margin-top: 20px;

	border: 5px solid black;
	display: inline-block;

	height: 410px;
	width: 300px;

	margin-right: 20px;
	}



.kaderklein1 h1{
	font-size: 30px;
	padding: 20px;
	margin: 0px;
	
}

.kaderklein1 p1{
	font-size: 15px;

	
}



.kadergroot1{
	margin-top: 20px;

	border: 5px solid black;
	display: inline-block;

	height: 410px;
	width: 660px;

	float: right;
	}


.kadergroot1 h1{
	font-size: 30px;
	padding: 20px;
	margin: 0px;
	background-color: black;
	color: white;
	
}

.kadergroot1 p1{
	font-size: 15px;
}

.kadergroot2{
	margin-top: 20px;

	border: 5px solid black;
	display: inline-block;

	height: 260px;
	width: 660px;

	}


.kadergroot2 h1{
	font-size: 30px;
	padding: 20px;
	margin: 0px;
	background-color: black;
	color: white;
	
}

.kadergroot2 p1{
	font-size: 15px;
	
}

.kaderklein2{
	margin-top: 20px;

	border: 5px solid black;
	display: inline-block;

	height: 260px;
	width: 300px;

	margin-left: 20px;
	float: right;
	}



.kaderklein2 h1{
	font-size: 30px;
	padding: 20px;
	margin: 0px;
	
	
}


.kaderklein2 p1{
	font-size: 15px;
}
